@media print {
  body * {
    visibility: hidden;
  }

  #printable-ticket,
  #printable-ticket * {
    visibility: visible;
  }

  #printable-ticket {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border: none;
    box-shadow: none;
  }

  .no-print {
    display: none !important;
  }

  @page {
    size: A4;
    margin: 12mm;
  }
}